In [1]:
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import viz # curriculum viz example code

np.random.seed(123)

# 30 November 2022 #

#### 1 / A bank found that the average number of cars waiting during the noon hour at a drive-up window follows a Poisson distribution, with a mean of two cars. 


   Make a chart of this distribution and answer these questions concerning the probability of cars waiting 
   at the drive-up window.  
   a/  What is the probability that no cars drive up in the noon hour?  
   b/  What is the probability that 3 or more cars come through the drive through?  
   c/  How likely is it that the drive through gets at least 1 car?

In [2]:
# a/ What is the probability that no cars drive up in the noon hour?

print(round(stats.poisson(λ).pmf(0),3))
# pmf because provided with a value and looking for a probability

NameError: name 'λ' is not defined

In [ ]:
# b/ Three or more cars

print(stats.poisson(λ).sf(2))

# sf because greater than or equal to 3 = MORE THAN 2, and 
# providing it wiht a value and looking for a probability

In [ ]:
# c/ at least 1 car = 0 or more cars

print(stats.poisson(λ).sf(0))

In [ ]:
# c / alternate

1 - stats.poisson(λ).cdf(0)

In [ ]:
# chart

# λ is the given rate of 2 per hour
λ = 2

x = np.arange(0,11)

y = stats.poisson(λ).pmf(x)
y

In [ ]:
# chart

# λ is the given rate of 2 per hour
λ = 2

x = np.arange(0,11)

y = stats.poisson(λ).pmf(x)
# y is the probability of


plt.bar(x,y)
plt.title('Poisson distribution with $λ = 2$')
plt.xlabel('Number of cars during noon hour')
plt.ylabel('P(x)');

#### 2 / Grades of State University graduates are normally distributed with a mean of 3.0 and a standard deviation of .3. Calculate the following:

   a/ What grade point average is required to be in the top 5% of the graduating class?  
   b/ What GPA constitutes the bottom 15% of the class?  
   c/ An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile.  
   Would a student with a 2.8 grade point average qualify for this scholarship?  
   d/ If I have a GPA of 3.5, what percentile am I in?

In [ ]:
# mean
m = 3.0

# standard deviation
s = 0.3

# Define the normal distribution
class_GPA = stats.norm(m, s)

## Find the value where 95% of the values / variables are less than unknown-value-X : Use PPF.
top_5_pc_cutoff = class_GPA.ppf(0.95)

# unknown value : what is cutoff point / interval for the top 5% of GPAs ?
# Use the PPF to find the cutt-off where 95% of the data are less than the cut-off

In [ ]:
# a/ What grade point average is required to be in the top 5% of the graduating class?

top_5_pc_cutoff = class_GPA.ppf(0.95)
round(top_5_pc_cutoff, 2)

# or, class_GPA.isf(0.05), which is the opposite calculation

In [ ]:
1 - class_GPA.ppf(0.95)

In [ ]:
# b/ What GPA constitutes the bottom 15% of the class?

# Use the PPF to find the cutt-off where 15% of the data are less than the cut-off

bottom_15_pc_cutoff = class_GPA.ppf(0.15)
round(bottom_15_pc_cutoff, 2)

In [ ]:
# alternate

class_GPA.isf(0.85)

In [ ]:
# c/ An eccentric alumnus left scholarship money for students in the third decile from 
    # the bottom of their class. Determine the range of the third decile.
    # Would a student with a 2.8 grade point average qualify for this scholarship ?
    
bottom_3rd_quartile = class_GPA.ppf(0.30)
bottom_2nd_quartile = class_GPA.ppf(0.20)

print(bottom_3rd_quartile)
print(bottom_2nd_quartile)

In [ ]:
GPA_range = class_GPA.ppf([0.20, 0.30])
GPA_range

In [ ]:
(GPA_range[0] < 2.8) and (GPA_range[1] > 2.8)

# the GPA in the 1st [0] range is less than 2.8 and the GPA is the 2nd range [1] is greater than 2.8

In [ ]:
class_GPA.cdf(2.8)

#returns that the GPA of 2.8 is in the bottom 25th percent of grades, thus in the third decile

In [ ]:
# d/ If I have a GPA of 3.5, what percentile am I in? 

round(class_GPA.cdf(3.5), 3)

In [ ]:
1 - class_GPA.sf(3.5)

#### 3 / A marketing website has an average click-through rate of 2%. One day they observe 4326 visitors and 97 click-throughs.   
How likely is it that this many people or more click through?

In [ ]:
# A 2pc click-through rate of 4326 people :

4326*0.02

# equals 86.52 people, cf the 97 click-throughs on a given day

In [ ]:
k = 97
# k : number of given successes

mu = 86.52
# mu : average of successes

# this is not the correct method

# stats.poisson.sf(k = 97, mu = 86.52)

p = 0.02
n_trials = 4326

λ = n_trials * p
λ

# λ = 86.52

In [ ]:


stats.poisson(86.52).sf(96)

# .sf starts at 96 and counts from 97 on up

In [ ]:
# this is the correct way 

stats.binom(4326, 0.02).sf(96)

# provided a value of 97
# looking for GREATER THAN = .sf(), starting at the number below the provided value

In [ ]:
# this is not the correct method

clicks = stats.poisson.rvs(mu=86.52, size=4326)
clicks

# this is just for fun

#### 4 / You are working on some statistics homework consisting of 100 questions where all of the answers are a probability rounded to the hundreths place. Looking to save time, you put down random probabilities as the answer to each question.
  
    What is the probability that at least one of your first 60 answers is correct?

In [ ]:
### Two outcomes
### Use the probability of success
### Number of trials

### A 100-question test, each with 1 possible answer [p(correct answer) = 1/100 = 0.01]
### The question can be answered either correctly, or incorrectly. There's no mid-correct.

stats.binom(60, 0.01).sf(0)

## starts at 0 and takes everything above it

In [ ]:
n_questions = 60
p_correct = 0.01

stats.binom(n_questions, p_correct).sf(0)

#### 5 / The Codeup staff tends to get upset when the student break area is not cleaned up.   
Suppose that there's a 3% chance that any one student cleans the break area when visiting it, and, on any given day, about 90% of the 3 active cohorts of 22 students visit the break area.  
 a /  How likely is it that the break area gets cleaned up each day?   
 b /  How likely is it that it goes two days without getting cleaned up? All week?

In [ ]:
n_students = 3 * 22
p_kitchen_use = 0.90
p_stu_clean_kitchen = 0.03

In [ ]:
students = round(0.9 * 22 * 3)
students
# same as 'used' variable

In [ ]:
clean = stats.binom(used, p_stu_clean_kitchen).sf(0)
clean

# alternate arrangement of formula

In [ ]:
used = round(n_students * p_kitchen_use)
used

In [ ]:
# a/a
round(stats.binom(int(used), 0.03).sf(0), 2)

In [ ]:
stats.binom(used, 0.03).sf(0)

In [ ]:
# a/b
stats.binom.sf(0, used, 0.03)

In [ ]:
# b/a

stats.binom(118, 0.03).cdf(0)

# 118 events (n_students * 2 days) and chance of no cleaning over two days (.cdf(0))

In [ ]:
#b/b

stats.binom(118, 0.03).pmf(0)

In [ ]:
# c/c

stats.binom((used*5), 0.03).pmf(0)

# no cleaning (.pmf(0)) occuring over 5 days

#### 6 / You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime.  
After several weeks of careful observation, you notice that the average number of people in line when your lunch break starts is normally distributed with a mean of 15 and standard deviation of 3.   

If it takes 2 minutes for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have at least 15 minutes left to eat your food before you have to go back to class?  
(Assume you have one hour for lunch, and ignore travel time to and from La Panaderia.)

In [ ]:
# MEAN queue length * time for each order in miinutes
m = 15 * 2

# Standard deviation, in people on line * time per stddev-person in minutes
s = 3 * 2

# Define the normal distribution
avg_queue = stats.norm(m, s)

# average lunch, order, eat, cook times, in minutes
total_lunch_time = 60

order_time = 2

eat_time = 15

# time to wait for food after ordering, in minutes
wait_for_food = 10

In [ ]:
max_wait = total_lunch_time - order_time - eat_time - wait_for_food
max_wait

# returns minutes

In [ ]:
stats.norm(m, s).cdf(max_wait)

# returns probability that the wait time will be less than or equal to 33 minutes

#### 7 / Connect to the employees database and find the average salary of current employees, along with the standard deviation. For the following questions, calculate the answer based on modeling the employees salaries with a normal distribution defined by the calculated mean and standard deviation then compare this answer to the actual values present in the salaries dataset.

    a / What percent of employees earn less than 60,000?
    b / What percent of employees earn more than 95,000?
    c / What percent of employees earn between 65,000 and 80,000?
    d / What do the top 5% of employees make?

In [20]:
import pandas as pd
from env import host, username, password

url = f'mysql+pymysql://{username}:{password}@{host}/employees'
pd.read_sql('SELECT * FROM departments', url)

  dept_no           dept_name
0    d009    Customer Service
1    d005         Development
2    d002             Finance
3    d003     Human Resources
4    d001           Marketing
5    d004          Production
6    d006  Quality Management
7    d008            Research
8    d007               Sales

In [22]:
url = f'mysql+pymysql://{username}:{password}@{host}/employees'
salaries = pd.read_sql('SELECT * FROM salaries where to_date >now()', url)
salaries.head()

   emp_no  salary   from_date     to_date
0   10001   88958  2002-06-22  9999-01-01
1   10002   72527  2001-08-02  9999-01-01
2   10003   43311  2001-12-01  9999-01-01
3   10004   74057  2001-11-27  9999-01-01
4   10005   94692  2001-09-09  9999-01-01

In [31]:
# mean salary
mean_salary = salaries.salary.mean()
round(mean_salary, 2)

72012.24

In [30]:
# standard deviation of salaries

stddev_salary = salaries.salary.std()
round(stddev_salary, 2)

17310.0

In [33]:
#    a / What percent of employees earn less than 60,000?

stats.norm(mean_salary, stddev_salary).cdf(59999)

0.2438393099761686

In [35]:
#    b / What percent of employees earn more than 95,000?

stats.norm(mean_salary, stddev_salary).sf(95000)

0.09208819199804053

In [37]:
#    c / What percent of employees earn between 65,000 and 80,000?


more_than = stats.norm(mean_salary, stddev_salary).sf(65000)
less_than = stats.norm(mean_salary, stddev_salary).cdf(80000)

more_than, less_than

(0.6572970780493486, 0.677763490495318)

In [39]:
# c, alt

np.diff(stats.norm(mean_salary, stddev_salary).cdf([65000, 80000]))

array([0.33506057])

In [38]:
# About 33.5pc of employees earn between 65k and 80k

stats.norm(mean_salary, stddev_salary).cdf(80000) - stats.norm(mean_salary, stddev_salary).cdf(65000)

0.3350605685446666

In [44]:
#    d / What do the top 5% of employees make?


round(stats.norm(mean_salary, stddev_salary).isf(0.05), 2)

100484.64

In [42]:
# d,, alt

stats.norm(mean_salary, stddev_salary).ppf(0.95)

100484.64454102775

In [43]:
# d,, alt

salaries.salary.quantile(0.95)

104225.84999999998